<div class="p-mb-4">
    <p-toolbar>
        <div class="p-toolbar-group-left">
            <h3><div class="p-text-left" style="color: #fff ;">Aria</div></h3>
        </div>
        <div class="p-toolbar-group-right">
            <ng-container *ngIf="authService.userData as user;else loginButton">
                <p-splitButton label="{{(user.email) ? user.email : 'User'}}" icon="pi pi-check"
                    [model]="itemsUser"></p-splitButton>
            </ng-container>
            <ng-template #loginButton>
                <p-button label="Non connecté" [routerLink]="['login']"></p-button>
            </ng-template>
        </div>
    </p-toolbar>
</div>
<p-toast></p-toast>
<div class="p-d-flex p-jc-center">
    <ng-content></ng-content>
</div>