<p-toolbar>
  <div class="p-toolbar-group-left">
    <ng-container *ngIf='form'>
      <p-button label="{{form.enabled ? 'Sauver':'Édition'}}" (click)='toggleEdit()' icon="pi pi-user-edit"></p-button>
    </ng-container>
  </div>
</p-toolbar>
<p-card class="p-m-2" header="Feuille de personnage">
  <div class="character-sheet">
    <form *ngIf='idForm' [formGroup]="idForm">
      <div class="p-fluid">
        <div class="p-grid">
          <div class="p-field p-col">
            <label>Prénom :</label>
            <input type="text" pInputText formControlName="charFirstname">
          </div>
          <div class="p-field p-col">
            <label>Nom :</label>
            <input type="text" pInputText formControlName="charLastname">
          </div>
          <div class="p-field p-col">
            <label>Age :</label>
            <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1"
              decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
              incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="age">
            </p-inputNumber>
          </div>
        </div>
        <div class="p-grid">
          <div class="p-field p-col">
            <label>HP :</label>
            <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1"
              decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
              incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="healthPoint"
              [max]="currentCharacter.maxHealthPoint">
            </p-inputNumber>
          </div>
          <div class="p-field p-col">
            <label>HP max :</label>
            <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1"
              decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
              incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="maxHealthPoint">
            </p-inputNumber>
          </div>
        </div>
      </div>
    </form>
    <ng-container *ngIf='currentCharacter && currentCharacter.healthPoint && currentCharacter.maxHealthPoint'>
      <div class="p-field p-col-12 p-md-4">
        <h5 class="p-mt-3">Points de vie :</h5>
        <p-knob [(ngModel)]="currentCharacter.healthPoint" [min]="0" [max]="currentCharacter.maxHealthPoint"
          valueColor="#db2140" [valueTemplate]="currentCharacter.healthPoint+'/'+currentCharacter.maxHealthPoint"
          [readonly]="true">
        </p-knob>
      </div>
    </ng-container>
    <p-tabView>
      <p-tabPanel header="Caractéristiques">
        <form *ngIf="statsForm" [formGroup]="statsForm">
          <p-card class="p-m-2">
            <div class="p-fluid">
              <div class="p-field">
                <label>Force :</label>
                <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1"
                  decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                  incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="strength">
                </p-inputNumber>
              </div>
              <div class="p-field">
                <label>Dextérité :</label>
                <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1"
                  decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                  incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="dexterity">
                </p-inputNumber>
              </div>
              <div class="p-field">
                <label for="stamina">Endurance :</label>
                <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1"
                  decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                  incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="stamina">
                </p-inputNumber>
              </div>
              <div class="p-field">
                <label for="intell">Intelligence : </label>
                <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1"
                  decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                  incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="intelligence">
                </p-inputNumber>
              </div>
              <div class="p-field">
                <label for="charisma">Charisme :</label>
                <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal" [step]="1"
                  decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                  incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="charisma">
                </p-inputNumber>
              </div>
            </div>
            <ng-template pTemplate="footer">
              <button pButton pRipple type="button" label="Calculer les compétences" class="p-button-outlined"
                (click)="calculateSkills()"></button>
            </ng-template>
          </p-card>
        </form>
      </p-tabPanel>
      <p-tabPanel header="Compétences">
        <div class="p-grid p-ai-stretch vertical-container">
          <div class="p-col">
            <div class="box box-stretched">
              <p-panel header="Compétences normales : restants : {{currentCharacter?.availableSkillPoints}}">
                <form *ngIf='skillsForm' [formGroup]="skillsForm">
                  <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-col">
                      <div class="p-field">
                        <label for="craft">Artisanat, construire :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="craft">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="CC">Combat rapproché :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="closeCombat">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="RC">Combat à distance :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="rangeCombat">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="intell">Connaissance de la nature : </label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="natureKnowing"></p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Connaissance des secrets :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="secretKnowing"></p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Courir, sauter :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="runJump">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Discretion :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="stealth">
                        </p-inputNumber>
                      </div>
                    </div>
                    <div class="p-field p-col">
                      <div class="p-field">
                        <label for="charisma">Droit :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="law">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Esquive :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="dodge">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Intimider :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="intimidating">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Lire écrire :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="readWrite">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Mentir Convaincre :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="deception">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Perception :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="perception">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Piloter :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="driving">
                        </p-inputNumber>
                      </div>
                    </div>
                    <div class="p-field p-col">
                      <div class="p-field">
                        <label for="charisma">Psychologie :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="psychology">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Réflexes :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="reflexes">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Serrures et pièges :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="picklocking">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Soigner :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="healing">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Survie :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus"
                          formControlName="surviving">
                        </p-inputNumber>
                      </div>
                      <div class="p-field">
                        <label for="charisma">Voler :</label>
                        <p-inputNumber [showButtons]="true" buttonLayout="horizontal" spinnerMode="horizontal"
                          [step]="1" decrementButtonClass="p-button-outlined" incrementButtonClass="p-button-outlined"
                          incrementButtonIcon="pi pi-plus" decrementButtonIcon="pi pi-minus" formControlName="stealing">
                        </p-inputNumber>
                      </div>
                    </div>
                  </div>
                </form>
              </p-panel>
            </div>
          </div>
          <div class="p-col">
            <div class="box box-stretched">
              <p-panel header="Compétences spéciales">
                <app-special-skills></app-special-skills>
              </p-panel>
            </div>
          </div>
        </div>
      </p-tabPanel>
      <p-tabPanel header="Inventaire">
        <ng-container *ngIf='form'>
          <app-inventory [disabled]="form.disabled"></app-inventory>
        </ng-container>
      </p-tabPanel>
      <p-tabPanel header="Notes">
        <p-card class="p-m-2" header="Notes">
          <textarea *ngIf='form' [disabled]="form.disabled" pInputTextarea [(ngModel)]="notes"></textarea>
        </p-card>
      </p-tabPanel>
    </p-tabView>
  </div>
</p-card>