p-card{
    width: 50vw;
}
a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.character-list-item {
    display: flex;
    align-items: center;
    padding: 1rem;
    width: 100%;

    .character-name {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .character-list-detail {
        flex: 1 1 0;
    }

    .p-rating {
        margin: 0 0 .5rem 0;
    }

    .character-list-action {
        display: flex;
        flex-direction: column;
    }

    .p-button {
        margin-bottom: .5rem;
    }
}