<p-card class="p-m-2">
  <p-dataView #dv [value]="characters">
    <ng-template pTemplate="header">
      Liste de vos personnages
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
            <i class="pi pi-search"></i>
            <input type="search" pInputText placeholder="Rechcercher par nom.">
        </span>
    </div>
    </ng-template>
    <ng-template let-character pTemplate="listItem">
      <div class="p-col-12" [routerLink]="['character']" [queryParams]="{id: character.id}">
        <div class="character-list-item">
            <div class="character-list-detail">
                <div class="character-name">{{character.identite.charFirstname}} {{character.identite.charLastname}}</div>
            </div>
            <div class="character-list-action">
                <p-button icon="pi pi-trash" [disabled]="true"></p-button>
            </div>
        </div>
    </div>
        <div>
          
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <p-button label="Nouveau personnage" [routerLink]="['new/character']" icon="pi pi-plus" iconPos="right"></p-button>
    </ng-template>
</p-dataView>
</p-card>