<p-card class="p-m-2" header="Vos personnages" subheader="Vous pouvez ajouter autant de personnages que vous souhaitez.">
  <p-dataView #dv [value]="characters$ | async" filterBy="identite.charFirstname">
    <ng-template pTemplate="header">
      <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
        <span class="p-input-icon-left p-mb-2 p-mb-md-0">
          <i class="pi pi-search"></i>
          <input type="search" pInputText placeholder="Rechercher par nom." (input)="dv.filter($event.target.value)">
        </span>
        <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
          <p-button label="Nouveau personnage" [routerLink]="['new/character', {outlets : { form : 'identite'}}]" icon="pi pi-plus" iconPos="right">
          </p-button>
      </div>
      </div>
    </ng-template>
    <ng-template let-character pTemplate="listItem">
      <div class="p-col-12">
        <div class="character-list-item">
          <div class="character-list-detail">
            <div class="character-name">
              <p-button label="{{character.identite.charFirstname}} {{character.identite.charLastname}}"
                [routerLink]="['character']" [queryParams]="{id: character.id}" styleClass="p-button-link"></p-button>
              <!-- <h3>{{character.identite.charFirstname}} {{character.identite.charLastname}}</h3> -->
            </div>
          </div>
        </div>
      </div>
      <div>
      </div>
    </ng-template>
  </p-dataView>
</p-card>